<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="pageKey" content="{{ page_key }}">
    <title>{{ gallery_name }}</title>
    <link rel="stylesheet" href="/css/lib/all.min.css">
    <link rel="stylesheet" href="/css/lightgallery-bundle.min.css">
    <link rel="stylesheet" href="/css/lg-zoom.css">
    <link rel="stylesheet" href="/css/lg-video.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="header">
        <div class="header-content">
            <div class="title-section">
                <div class="breadcrumbs">
                    {% for crumb in breadcrumbs %}
                        {% if not loop.last %}
                            <a href="./?id={{ crumb.link }}">{{ crumb.name }}</a> /
                        {% else %}
                            {{ crumb.name }}
                        {% endif %}
                    {% endfor %}
                </div>
                <h1>{{ gallery_name }}</h1>
            </div>
            <div class="controls">
                <div class="control-group">
                    <input type="text" id="searchBox" class="search-box" placeholder="Filter items...">
                    <button class="button" onclick="sortGallery('name')" title="Sort by name">
                        <i class="fas fa-sort-alpha-down sort-name-icon"></i>
                        <span>Name</span>
                    </button>
                    <button class="button" onclick="sortGallery('time')" title="Sort by date">
                        <i class="fas fa-sort-numeric-down sort-time-icon"></i>
                        <span>Date</span>
                    </button>
                    <button class="button" onclick="sortGallery('type')" title="Sort by type">
                        <i class="fas fa-sort sort-type-icon"></i>
                        <span>Type</span>
                    </button>
                    <button class="button" id="shuffleBtn" title="Randomize items">
                        <i class="fas fa-random"></i>
                        <span>Random</span>
                    </button>
                </div>
                <div class="control-group">
                    <input type="range" class="size-slider" min="100" max="400" value="200" title="Adjust thumbnail size">
                    <div class="slideshow-controls">
                        <button class="button" id="slideshowBtn" title="Start/Stop Slideshow">
                            <i class="fas fa-play"></i>
                        </button>
                        <input type="range" id="slideshowSpeed" min="2" max="10" value="5" title="Slideshow speed (seconds)">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="gallery" id="galleryContent">
        <!-- Items will be loaded dynamically via JavaScript -->
    </div>

    <!-- Script imports -->
    <script src="/js/lib/jquery-3.3.1.min.js"></script>
    <script src="/js/lib/js.cookie.min.js"></script>
    <script src="/js/lib/popper.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/blazy.min.js"></script>
    <script src="/js/lib/shuffle.min.js"></script>
    <script src="/js/lightgallery/lightgallery.min.js"></script>
    <script src="/js/lightgallery/plugins/zoom/lg-zoom.min.js"></script>
    <script src="/js/lightgallery/plugins/video/lg-video.min.js"></script>
    <script src="/js/lightgallery/plugins/fullscreen/lg-fullscreen.min.js"></script>
    <script src="/js/lightgallery/plugins/autoplay/lg-autoplay.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html> 